@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  vertical-align: middle;
}
ul,
li,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
span,
a {
  display: inline-block;
}

:root {
  /* base gray */
  --color-gray-00: #ffffff;
  --color-gray-50: #f2f4f5;
  --color-gray-100: #e4e7e9;
  --color-gray-200: #c9cfd2;
  --color-gray-300: #adb7bc;
  --color-gray-400: #929fa5;
  --color-gray-500: #77878f;
  --color-gray-600: #5f6c72;
  --color-gray-700: #475156;
  --color-gray-800: #303639;
  --color-gray-900: #191c1f;

  /* primary */
  --color-primary-50: #fff3eb;
  --color-primary-100: #ffe7d6;
  --color-primary-200: #ffcead;
  --color-primary-300: #ffcda3;
  --color-primary-400: #ffb77f;
  --color-primary-500: #fa8232;
  --color-primary-600: #de732d;
  --color-primary-700: #99501f;
  --color-primary-800: #663514;
  --color-primary-900: #331b0a;

  /* secondary */
  --color-secondary-50: #eaf6fe;
  --color-secondary-100: #d5edfd;
  --color-secondary-200: #abdbfa;
  --color-secondary-300: #81c9f8;
  --color-secondary-400: #57b7f5;
  --color-secondary-500: #2da5f3;
  --color-secondary-600: #2484c2;
  --color-secondary-700: #1b6392;
  --color-secondary-800: #124261;
  --color-secondary-900: #092131;

  /* success */
  --color-sucess-50: #eaf7e9;
  --color-sucess-100: #d5f0d3;
  --color-sucess-200: #abe0a7;
  --color-sucess-300: #81d17c;
  --color-sucess-400: #57c150;
  --color-sucess-500: #2db224;
  --color-sucess-600: #248e1d;
  --color-sucess-700: #1b6b16;
  --color-sucess-800: #12470e;
  --color-sucess-900: #092407;

  /* warning */
  --color-warning-50: #fdfae7;
  --color-warning-100: #fbf4ce;
  --color-warning-200: #f7e99e;
  --color-warning-300: #f3de6d;
  --color-warning-400: #efd33d;
  --color-warning-500: #ebc80c;
  --color-warning-600: #bca00a;
  --color-warning-700: #8d7807;
  --color-warning-800: #5e5005;
  --color-warning-900: #2f2802;

  /* danger */
  --color-danger-50: #fdeeee;
  --color-danger-100: #fcdede;
  --color-danger-200: #f8bcbc;
  --color-danger-300: #f59b9b;
  --color-danger-400: #f17979;
  --color-danger-500: #ee5858;
  --color-danger-600: #be4646;
  --color-danger-700: #8f3535;
  --color-danger-800: #5f2323;
  --color-danger-900: #301212;

  /* font   */
  --font-inter: "Inter", sans-serif;
  --font-public-sans: "Public Sans", sans-serif;
}

@theme {
  --color-gray-00: var(--color-gray-00);
  --color-gray-50: var(--color-gray-50);
  --color-gray-100: var(--color-gray-100);
  --color-gray-200: var(--color-gray-200);
  --color-gray-300: var(--color-gray-300);
  --color-gray-400: var(--color-gray-400);
  --color-gray-500: var(--color-gray-500);
  --color-gray-600: var(--color-gray-600);
  --color-gray-700: var(--color-gray-700);
  --color-gray-800: var(--color-gray-800);
  --color-gray-900: var(--color-gray-900);
}
@theme {
  --color-primary-50: var(--color-primary-50);
  --color-primary-100: var(--color-primary-100);
  --color-primary-200: var(--color-primary-200);
  --color-primary-300: var(--color-primary-300);
  --color-primary-400: var(--color-primary-400);
  --color-primary-500: var(--color-primary-500);
  --color-primary-600: var(--color-primary-600);
  --color-primary-700: var(--color-primary-700);
  --color-primary-800: var(--color-primary-800);
  --color-primary-900: var(--color-primary-900);
}
@theme {
  --color-secondary-50: var(--color-secondary-50);
  --color-secondary-100: var(--color-secondary-100);
  --color-secondary-200: var(--color-secondary-200);
  --color-secondary-300: var(--color-secondary-300);
  --color-secondary-400: var(--color-secondary-400);
  --color-secondary-500: var(--color-secondary-500);
  --color-secondary-600: var(--color-secondary-600);
  --color-secondary-700: var(--color-secondary-700);
  --color-secondary-800: var(--color-secondary-800);
  --color-secondary-900: var(--color-secondary-900);
}
@theme {
  --color-sucess-50: var(--color-sucess-50);
  --color-sucess-100: var(--color-sucess-100);
  --color-sucess-200: var(--color-sucess-200);
  --color-sucess-300: var(--color-sucess-300);
  --color-sucess-400: var(--color-sucess-400);
  --color-sucess-500: var(--color-sucess-500);
  --color-sucess-600: var(--color-sucess-600);
  --color-sucess-700: var(--color-sucess-700);
  --color-sucess-800: var(--color-sucess-800);
  --color-sucess-900: var(--color-sucess-900);
}
@theme {
  --color-warning-50: var(--color-warning-50);
  --color-warning-100: var(--color-warning-100);
  --color-warning-200: var(--color-warning-200);
  --color-warning-300: var(--color-warning-300);
  --color-warning-400: var(--color-warning-400);
  --color-warning-500: var(--color-warning-500);
  --color-warning-600: var(--color-warning-600);
  --color-warning-700: var(--color-warning-700);
  --color-warning-800: var(--color-warning-800);
  --color-warning-900: var(--color-warning-900);
}
@theme {
  --color-danger-50: var(--color-danger-50);
  --color-danger-100: var(--color-danger-100);
  --color-danger-200: var(--color-danger-200);
  --color-danger-300: var(--color-danger-300);
  --color-danger-400: var(--color-danger-400);
  --color-danger-500: var(--color-danger-500);
  --color-danger-600: var(--color-danger-600);
  --color-danger-700: var(--color-danger-700);
  --color-danger-800: var(--color-danger-800);
  --color-danger-900: var(--color-danger-900);
}

/*  font family */
@theme {
  --font-inter: var(--font-inter);
  --font-public-sans: var(--font-public-sans);
}

/* common css properties */
.heading1,
.heading2,
.heading3,
.heading4,
.display1,
.display2,
.display3,
.display4,
.label1,
.label2,
.body-xxl-400,
.body-xxl-500,
.body-xxl-600,
.body-xl-400,
.body-xl-500,
.body-xl-600,
.body-large-400,
.body-large-500,
.body-large-600,
.body-medium-400,
.body-medium-500,
.body-medium-600,
.body-small-400,
.body-small-500,
.body-small-600,
.body-xs-400,
.body-xs-500,
.body-xs-600 {
  font-family: var(--font-public-sans);
  letter-spacing: 0em;
}

/* ========= heading component  =============*/
.heading1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
}
.heading2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
}
.heading3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

.heading4 {
  font-size: 16px;
  font-weight: bold;
  line-height: 56px;
  letter-spacing: 1.2%;
}

.heading4 {
  font-size: 14px;
  font-weight: bold;
  line-height: 48px;
  letter-spacing: 1.2%;
}

/* ========= heading component  =============*/
/* ========= display component  =============*/
.display1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
}

.display2 {
  font-size: 64px;
  font-weight: 600;
  line-height: 72px;
}
.display3 {
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
}
.display3 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
}
.display4 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
}
/* ========= display component  =============*/

/* ========= label component  =============*/
.label1 {
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
}

.label2 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.label3 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.label4 {
  font-size: 12px;
  font-weight: 500;
  line-height: 150%;
}

.label5 {
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
}
/* ========= label component  =============*/
/* ========= body component =============*/
.body-xxl-400 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.body-xl-400 {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}
.body-xl-500 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}
.body-xl-600 {
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

.body-large-400 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.body-large-500 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.body-large-600 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.body-medium-400 {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.body-medium-500 {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}
.body-medium-600 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.body-small-400 {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.body-small-500 {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}
.body-small-600 {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
}

.body-tiny-400 {
  font-size: 11px;
  font-weight: 400;
  line-height: 12px;
}
.body-tiny-500 {
  font-size: 11px;
  font-weight: 500;
  line-height: 12px;
}
.body-tiny-600 {
  font-size: 11px;
  font-weight: 600;
  line-height: 12px;
}

.body-xs-400 {
  font-size: 10px;
  font-weight: 400;
  line-height: 11px;
}
.body-xs-500 {
  font-size: 10px;
  font-weight: 500;
  line-height: 11px;
}
.body-xs-600 {
  font-size: 10px;
  font-weight: 600;
  line-height: 11px;
}

/* ========= body component =============*/

/* swiper css overWrite*/
.swiper-pagination {
  position: absolute !important;
  left: -41% !important;
  bottom: 7% !important;
}
.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50% !important;
  background-color: var(--color-gray-500) !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-gray-900) !important;
}

/* -------------- hover Effect -------------------- */
.customStyle {
  position: relative;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}

.customStyle::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: var(--color-primary-500);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}
.customStyle:hover {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
.customStyle:hover::after {
  transform: scaleX(1);
}

/* custom thumb and scrollbar */
::-webkit-scrollbar {
  width: 6px;
  border-radius: 19px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-gray-300);
  border-radius: 19px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-orange-300);
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-orange-400);
}

/* range custom css */
/* Yellow Range Slider */

.range-slider {
  height: 4px;
}

#range-slider-yellow {
  background: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23555' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E")
    #333;
}

#range-slider-yellow .range-slider__range {
  background: var(--color-orange-400);
  transition: height 0.3s;
}

#range-slider-yellow .range-slider__thumb {
  background: var(--color-orange-400);
  transition: transform 0.3s;
}

.range-slider .range-slider__thumb {
  width: 13px;
  height: 13px;
  background: var(--color-gray-00) !important;
  border: 2px solid var(--color-orange-400);
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#range-slider-yellow .range-slider__thumb[data-active] {
  transform: translate(-50%, -50%) scale(1.25);
}

#range-slider-yellow .range-slider__range[data-active] {
  height: 16px;
}

/* checkbox custom background  */

input[type="checkbox"] {
  accent-color: var(--color-orange-400);
  width: 20px;
  height: 20px;
  border-radius: 2%;
}

/* maginifing glass */
.iiz__hint {
  display: none !important;
}
